services:
  haproxy:
    image: haproxy:latest
    container_name: haproxy
    networks:
      - dokernet
    ports:
      - "80:80"
      - "443:443"
      - "9090:9090"
    volumes:
      - ./conf/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      - ./pki/dhparam.pem:/usr/local/etc/haproxy/pki/dhparam.pem
      - ./pki/server.pem:/usr/local/etc/haproxy/pki/server.pem
    restart: always

networks:
  dokernet:
    driver: bridge
